<html>

<head>
    <!-- <link rel="stylesheet" href="boot3/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="boot3/js/bootstrap.min.js"> -->
    <!-- <link rel="stylesheet" href="boot3/js/jquery.js"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="jobins.css">
    <link href="Boot3/bootstrap.min.css"  rel="stylesheet"/>
    <script src="Boot3/jquery.js"></script>
    <script src="Boot3/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- navbar start here -->
            <nav class="navbar navbar-default" style="background:black">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="images/jobbylogooo.png" style="height: 80px;width: 200px">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navigationbar">
                        <ul class="nav navbar-nav navbar-right navigationbar">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/Job">Jobs</a></li>
                            <li><a href="/registration">Registar</a></li>
                            <li><a href="/Help">Help</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- navbar end here -->
        </div>
    </div>



    <div class="container">
        <div class="row" style="height:30px;">
            <center>
                Java Jobs
            </center>
        </div>
        <div class="row">
            <div class="col-md-4 full-time-1">
                <div class="row f-t-1-h">
                    <h4> Jobs by Top Skills</h4>
                    <hr width="100%">
                </div>

                <div class="col-md-12 full-time-1-1">
                    <li><a href="/accontjob">Accounting Jobs</a></li>
                    <li><a href="/bankjob">Banking Jobs</a></li>
                    <li><a href="/javajob">Java Jobs</a></li>
                    <li><a href="/mktjob">Marketing Jobs</a></li>
                    <li><a href="/datascincejob">Data Science Jobs</a></li>
                    <li><a href="/seojob">SEO Jobs</a></li>
                    <li><a href="/teachjob">Teaching Jobs</a></li>
                    <li><a href="/netjob">Networking Jobs</a></li>
                    <li><a href="/softejob">Software Engineering Jobs</a></li>
                    <li><a href="/bpojob">BPO Jobs</a></li>
                    <li><a href="/animationjob">Animation Jobs</a></li>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row work-1">
                    <h5>Java Developer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/apply">Apply</a></button>

                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>


                <!-- 2 -->
                <div class="row work-1">
                    <h5>Java Backend Developer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/apply">Apply</a></button>

                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>

                <!-- 3 -->

                <div class="row work-1">
                    <h5>Java Full-Stack Developer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/apply">Apply</a></button>

                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>

                <!-- 4 -->
                <div class="row work-1">
                    <h5> Sr.Java Developer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/apply">Apply</a></button>

                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>
                <!-- 5 -->
                <div class="row work-1">
                    <h5>Java Application Support</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/apply">Apply</a></button>

                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>

                <!-- 6 -->
                <div class="row work-1">
                    <h5>Senior Java Developer</h5>
                    <a href="#">CosMicIT informatics India private Limited</a>
                    <br>
                    <div class="row work-2">
                        <span><i class="fa-solid fa-location-dot"></i> Bengaluru / Banalore, Pune </span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-briefcase"></i> 0-2 Years</span>
                        &emsp; &emsp; &emsp;
                        <span><i class="fa-solid fa-coins"></i> Not Specified</span>

                        <p>We've an urgent requirement for salesforce Vlocity Developer</p>

                        <p class="row skill">
                            <span><b>Skills :</b> Salesforce, Salesforce Vlocity, Sdlc</span>
                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                            <span><i class="fa-solid fa-star"></i></span>
                            &emsp;
                            <span><i class="fa-solid fa-share-nodes"></i> </span>
                            &emsp; &emsp;
                            <button><a href="/apply">Apply</a></button>

                        </p>
                    </div>
                </div>
                <div class="row" style="height:200px;"></div>



            </div>
        </div>
    </div>


    <!-- footer strat here -->
    <div class="container-fluid">
        <div class="row" style="background-color:rgb(41, 39, 39);">
            <div class="col-md-3" style="min-height:20%;">
                <div class="row footer1">
                    <img src="images/jobbylogooo.png"><br> 
                    <i class="fa-brands fa-facebook" style="font-size: 25px; margin-left: 20px;color:blue"></i>
                    <i class="fa-brands fa-twitter" style="font-size: 25px; margin-left: 7px;color:rgb(52, 52, 231)"></i>
                    <i class="fa-brands fa-whatsapp" style="font-size: 25px; margin-left: 7px;color:green"></i>
                </div>
            </div>

            <div class="col-sm-3 f1"><span>Job By Stream</span>
                <li><a href="/mktjob">Marketing Job</a></li>
                <li><a href="/teachjob">Teaching</a></li>
                <li><a href="/bankjob">Finance Job</a></li>
                <li><a href="/mktjob">Web Devolopment job</a></li>
                <li><a href="/netjob">Networking Jobs</a></li>
                <li><a href="/bankjob">Banking job</a></li>
            </div>

            <div class="col-sm-3 f1"><span>Job By Places</span>
                <li><a href="/seojob">Job in Delhi</a></li>
                <li><a href="/netjob">Job in Noida</a></li>
                <li><a href="/bpojob">Job in Banglor</a></li>
                <li><a href="/softjob">Job in Mumbai</a></li>
                <li><a href="/javajob">Job in Kolkata</a></li>
                <li><a href="/accountjob">Job in Lukhnow</a></li>


            </div>
            <div class="col-sm-3 f1"><span>Online Training</span>
                <li><a href="/bpojob">BPO Jobs</a></li>
                <li><a href="/javajob">Java Jobs</a></li>
                <li><a href="/datascincejob">Data Science</a></li>
                <li><a href="/netjob">Web Development</a></li>
                <li><a href="/animationjob">Machine Learning</a></li>
            </div>


        </div>
        <div class="row copy">
            <center>
                &copy; copyright WWW.JOBBYO.COM
            </center>
        </div>

    </div>


    <!-- footer end here  -->




</body>

</html>